body {
    background-image: url(/Assets/Images/login-screen.jpeg);
    background-size: cover;
}

.bi-x-lg {
    font-size: 2rem;
}

.back-anchor {
    background-color: rgba(209, 209, 209, 0.23);
    width: max-content;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 100%;
    transition: all 0.2s ease-in-out;
}
.back-anchor:hover {
    scale: 80%;
}

#login-form {
    background-color: rgba(66, 66, 66, 0.542);
    width: max-content;
    backdrop-filter: blur(10px);
}
#login-form2 {
    background-color: rgba(66, 66, 66, 0.542);
    width: max-content;
    backdrop-filter: blur(10px);
}

.login-labels {
    color: rgb(213, 213, 213);
}

input {
    background-color: rgba(255, 255, 255, 0.224);
    border: none;
    border-radius: 1rem;
    width: 20rem;
    border: 1px solid transparent;
}
input:hover {
    border: 1px solid rgb(255, 204, 0);
    background-color: rgba(90, 90, 90, 0.312);
}

input::placeholder {
    color: rgb(222, 222, 222);
}

#date-input {
    color: rgb(222, 222, 222);
    letter-spacing: 0.08rem;
    width: 100%;
}

.bi-person-circle {
    font-size: 4rem;
    color: rgb(213, 213, 213);
    border: 1px solid transparent;
    aspect-ratio: 1 / 1;
}
.bi-person-circle:hover {
    color: rgb(172, 172, 172);
}

button {
    height: 4rem;
}

#submit-a {
    background: rgb(199, 159, 0);
    padding: 1rem 1rem 1rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(50, 50, 50);
    border: 1px solid transparent;
    border-radius: 3.5rem;
    font-family: 'Dancing Script';
    filter: drop-shadow(0px 0px 25px rgba(22, 22, 22, 0.505));
}
#submit-a:hover {
    scale: 90%;
    filter: drop-shadow(0px 0px 5px rgba(22, 22, 22, 0.505));
    background: rgb(219, 168, 0);
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 776px) {
    #login-form, #login-form2 {
        width: 100% !important;
    }

    .h1 {
        font-size: 2rem !important;
    }

    .input-containers {
        flex-direction: column;
    }
    input {
        width: 100%;
    }

    #submit-a {
        padding: 0.5rem;
        font-size: 1rem;
        font-family: 'Rubik';
    }
    .back-anchor {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:300px) {
    .h1 {
        font-size: 1.4rem !important;
    }
    input {
        font-size: 0.4rem !important;
        height: 1.5rem !important;
        padding-inline: 0.4rem !important;
    }
    .login-labels {
        font-size: 0.5rem;
    }
    #submit-a {
        font-size: 0.5rem;
    }
    #login0 {
        scale: 80%;
    }
}